* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
}

:root {
  --font_nunito: "Nunito", sans-serif;
  --font_pt_sans: "PT Sans", sans-serif;
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#headerTitle {
  display: grid;
  place-items: center;
  color: #fff0da;
  text-align: center;
  background-color: #ff9900;
  height: 31px;
}

#navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 81px;
  border-bottom: 1px solid #c8c8c8;
  position: relative;
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c8c8c8;
  width: clamp(15rem, 25vw, 30rem);
  height: 38px;
  border-radius: 8px;
  padding: 10px 21px;
}

.search-bar > input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.dropdown {
  font-family: var(--font_nunito);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  list-style-type: none;

  line-height: 27px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;

  gap: 0 21px;
  height: 100%;
}
.dropdown-content {
  display: none;
  margin: 20px;
}
.dropdown-content a {
  text-decoration: none;
  color: var(--preto-laranja);
}
.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;

  position: absolute;
  z-index: 9999;

  bottom: -100px;

  background-color: #ffffff;

  border-radius: 5px;
}

.dropdown > .option {
  display: flex;
  align-items: center;
  height: 100%;
}

.userArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pipe {
  height: 42px;
  width: 1px;
  background-color: black;
}

.perfil {
  display: flex;
  gap: 0 5px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login > label {
  font-family: var(--font_pt_sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4b4b4b;
}

.login > p {
  font-family: var(--font_nunito);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #ff9900;
}
#login {
  cursor: pointer;
  font-family: var(--font_nunito);
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 22px;
  color: #ff9900;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.icon {
  display: none;
}

/* Estilização do botão de navegação */

/* Inicio reponsividade */
/* Inicio responsividade notebook, tablet */

@media screen and (max-width: 1024px) {
  .dropdown {
    bottom: -165%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  .dropdown > .option {
    display: none;
    width: 100%;
    padding: 5px;
    background-color: white;
    font-size: 18pt;
  }

  .dropdown.open > .option {
    display: block;
  }

  .icon {
    display: inline-block;
    width: 50px;
  }

  .pipe {
    display: none;
  }
}

/* Fim responsividade notebook, tablet */

/* Inicio responsividade celular */

@media screen and (max-width: 620px) {
  #navMenu {
    height: auto;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "l"
      "p"
      "u";
    row-gap: 15px;
  }

  #logo {
    margin-inline: auto;
    grid-area: l;
  }

  .searchArea {
    width: 100%;
    grid-area: p;
  }

  .search-bar {
    width: 100%;
  }

  .dropdown {
    bottom: -105%;
  }

  .userArea {
    grid-area: u;
    justify-content: space-between;
  }
}

/* Fim responsividade celular */
/* Fim responsividade */

/* search bar filter */
form {
  margin: auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid red;
}
#pesquisa {
  height: 30px;
  border-radius: 5px;
  position: relative;
}
.cards {
  list-style-type: none;
  position: absolute;
  z-index: 999;
  top: 115%;
  left: -1%;
  background-color: white;
  width: 345px;
  border-radius: 5px;
}
.cards li {
  padding: 5px 20px;
  margin: 2px 0px;
  display: none;
}
