:root {
  --font_nunito: "Nunito", sans-serif;
  --font_pt_sans: "PT Sans", sans-serif;
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
}
