* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_nunito);
}
:root {
  --font_nunito: "Nunito", sans-serif;
  --font_pt_sans: "PT Sans", sans-serif;
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
  --rosa: #f9c1a3;
  --rosaClaro: #fbe1db;
  --marrom: #8d6d51;
  --vermelho: #bb0300;
  --azul: #2d49af;
  --verde: #074006;
  --cinza: #867975;
  --verdeClaro: #9dad9b;
  --pink: #fa11c0;

  /* roupas */
}
main {
  display: flex;
  flex-direction: row;
}
#filtro {
  width: 248px;
  height: 600px;
  margin: 23px 15px 0px 35px;

  background-color: var(--laranja-claro);

  border: 1px solid var(--cinza);
  border-radius: 5px;
}
#filtro h2 {
  color: var(--laranja);
  font-size: 0.999rem;
  margin: 5px;
}
#filtro p {
  font-family: var(--font_pt_sans);
  color: var(--preto-cinza);
}
#filtro ul {
  list-style-position: inside;
}
.boxFiltro {
  width: 204px;
  margin: 16px 23px;
}
#roupas {
  width: 974px;
  height: 981px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 41px;

  margin: 23px 0px 44px 0px;
  padding: 20px;

  background-color: var(--laranja-claro);

  border: 1px solid var(--cinza);

  border-radius: 5px;
}
#roupas h1 {
  font-size: 13px;
  font-family: var(--font_pt_sans);
  font-weight: 300;
}
#roupas p {
  font-size: 13px;
  font-family: var(--font_pt_sans);
  font-weight: 700;
  margin: 7px;
}
.boxConteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxRoupas {
  width: 270px;
  height: 440px;

  display: flex;
  flex-direction: column;
}
.boxImage {
  background-image: var(--image);
  width: 270px;
  height: 364px;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* cores de input */
#roupas input:hover {
  cursor: pointer;
}
.corRoupa {
  appearance: none;
  content: ".";
  width: 13px;
  height: 13px;
  background-color: var(--corDaRoupa);
  border: 1px solid var(--preto-cinza);
  border-radius: 100px;
}
/* cores de input */
