* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
}
:root {
  --font_nunito: "Nunito", sans-serif;
  --font_pt_sans: "PT Sans", sans-serif;
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
}

#headerTitle {
  display: grid;
  place-items: center;
  color: #fff0da;
  text-align: center;
  background-color: #ff9900;
  width: 100%;
  height: 31px;
}

#navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 81px;
  padding: 0 10%;
  border-bottom: 1px solid #c8c8c8;
}

#logo {
  width: 106.85px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c8c8c8;
  width: 247px;
  height: 38px;
  border-radius: 8px;
  padding: 10px 21px 10px 0;
}

.search-bar > input {
  border: none;
  outline: none;
  padding-left: 10px;
}

.categories {
  font-family: var(--font_nunito);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 21px;
  height: 100%;
}

.categories > .option {
  display: flex;
  align-items: center;
  height: 100%;
}

.pipe {
  height: 42px;
  width: 1px;
  background-color: black;
}

.perfil {
  display: flex;
  gap: 0 5px;
}

.Login {
  display: flex;
  flex-direction: column;
}

.Login > label {
  font-family: var(--font_pt_sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4b4b4b;
}

.Login > p {
  font-family: var(--font_nunito);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #ff9900;
}
/* Carrosel rotativo banner */

/* Estilização do botão de navegação */
.slides input {
  display: none;
}
.navegation {
  position: absolute;

  bottom: 20px;

  left: 50%;
  transform: translate(-50%);

  display: flex;

  z-index: 2;
}
input[type="radio"]:checked + label {
  background-color: var(--laranja-claro);
}
.bar.active {
  background-color: var(--laranja-claro);
}
.bar {
  width: 66px;
  height: 15px;

  margin: 15px;

  border: 3px solid var(--laranja-claro);

  border-radius: 15px;
  cursor: pointer;
}
.bar:hover {
  background-color: var(--laranja-claro);
}
/* Fim da estilização do botão de navegação */
.content {
  width: 100vw;
  height: 520px;

  display: flex;

  overflow: hidden;

  position: relative;
  z-index: 1;
}
/* orgazação de imagens dentro do objeto e transição */
.slides {
  display: flex;
}
.slide img {
  width: 100vw;
  height: 100%;

  object-fit: cover;
}
.slide {
  transition: 0.4s;
}
/* Fim da orgazação de imagens dentro do objeto e transição */

/* Movimentação do slide, usando o input para alterar a margin das imagens, mandando elas para a esquerda e assim criando o efeito de movimentação*/
#slide1:checked ~ .s1 {
  margin-left: 0;
}
#slide2:checked ~ .s1 {
  margin-left: -100vw;
}
#slide3:checked ~ .s1 {
  margin: -100vw;
}
#slide4:checked ~ .s1 {
  margin-left: -300vw;
}
#slide5:checked ~ .s1 {
  margin: -200vw;
}
/* Fim  da movimentação do slide */

/* Fim do Carrosel rotativo banner */

/* Inicio dos cards informativos */

.infoCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 3% 0;
}

.infoCard {
  border: 1px solid var(--cinza);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font_pt_sans);
  border-radius: 10px;
  width: 285.62px;
  height: 196.66px;
  gap: 30px;
  text-align: center;
}

.infoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font_nunito);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 103.9%;
  gap: 10px;
}
/* Fim dos cards informativos */

/* Inicio do destaque */
.box-destaques {
  margin: 0px 100px;

  width: auto;

  text-align: center;
}
.box-destaques h1 {
  font-family: var(--font_nunito);
  font-weight: 700;

  color: var(--laranja);

  text-shadow: 1px 1px 1px black;
}
.box-destaques p {
  font-family: var(--font_pt_sans);
  font-size: 15px;
  font-weight: 400;

  color: var(--preto-cinza);
}
.destaques {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}
.destaque {
  transition: all 0.5s;
}
.destaque:hover {
  cursor: pointer;
  scale: 102%;
}
.destaque img {
  object-fit: cover;
}
/* Fim do destaque */

/* Destaque recomendado */
.box-recomendados {
  margin: 60px 100px;
}
.box-recomendados > h1 {
  color: var(--laranja);

  font-family: var(--font_nunito);

  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;

  margin: 0px 0px 18px 0px;
}
.recomendados {
  width: 100%;
}
.box-recomendado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 24px;
}
.recomendado {
  height: 300px;
  border: 1px solid var(--cinza);
  display: grid;
  justify-content: center;
  align-items: center;
}
.recomendado h1 {
  font-family: var(--font_nunito);
  font-weight: 700;
  font-size: 18px;
}
.recomendado-img {
  width: 244px;
  height: 244px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.recomendado-img:hover {
  scale: 120%;
}
.recomendado-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fim do destaque recomendado */

/* footer */
footer {
  background-color: var(--laranja);
  display: flex;

  padding: 0px 100px;
}
.footer {
  width: 332px;
  height: 370px;
}
.logo-footer {
  width: 144px;
  height: 56px;
}
.redes {
  display: flex;
  flex-direction: row;

  width: 30px;
  height: 20px;

  margin: 20px 0px;
}
footer h1 {
  font-family: var(--font_nunito);
  margin-bottom: 15px;
  font-size: 1.4em;
}
footer p {
  font-family: var(--font_pt_sans);
  margin-bottom: 20px;
}
.footer {
  padding: 20px;
}
/* Fim do footer */
