* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
}

:root {
  --font_nunito: "Nunito", sans-serif;
  --font_pt_sans: "PT Sans", sans-serif;
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
}

/* Carrosel rotativo banner */
.slides input {
  display: none;
  position: relative;
}

.navegation {
  position: absolute;

  bottom: 20px;

  transform: translate(90%);

  display: flex;

  z-index: 2;
}

input[type="radio"]:checked + label {
  background-color: var(--laranja-claro);
}

.bar.active {
  background-color: var(--laranja-claro);
}

.bar {
  width: 66px;
  height: 15px;

  margin: 15px;

  border: 3px solid var(--laranja-claro);

  border-radius: 15px;
  cursor: pointer;
}

.bar:hover {
  background-color: var(--laranja-claro);
}

/* Fim da estilização do botão de navegação */
.content {
  width: 100vw;
  height: 520px;

  display: flex;

  overflow: hidden;

  position: relative;
}

/* orgazação de imagens dentro do objeto e transição */
.slides {
  display: flex;
}

.slide img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slide {
  transition: 0.4s;
}

/* Fim da orgazação de imagens dentro do objeto e transição */

/* Movimentação do slide, usando o input para alterar a margin das imagens, mandando elas para a esquerda e assim criando o efeito de movimentação*/
#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -100vw;
}

#slide3:checked ~ .s1 {
  margin: -100vw;
}

#slide4:checked ~ .s1 {
  margin-left: -300vw;
}

#slide5:checked ~ .s1 {
  margin: -200vw;
}

/* Fim  da movimentação do slide */

/* Fim do Carrosel rotativo banner */

/* Inicio dos cards informativos */

.infoCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  margin: 3% 0;
  padding-inline: 20px;
  gap: 20px;
}

.infoCard {
  border: 1px solid var(--cinza);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font_pt_sans);
  border-radius: 10px;
  width: 285.62px;
  height: 196.66px;
  gap: 30px;
  text-align: center;
  flex-grow: 1;
}

.infoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font_nunito);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 103.9%;
  gap: 10px;
}

/* Fim dos cards informativos */

/* Inicio do destaque */
.box-destaques {
  margin: 0px 100px;
  width: auto;
  text-align: center;
}

.box-destaques h1 {
  font-family: var(--font_nunito);
  font-weight: 700;

  color: var(--laranja);

  text-shadow: 1px 1px 1px black;
}

.box-destaques p {
  font-family: var(--font_pt_sans);
  font-size: 15px;
  font-weight: 400;

  color: var(--preto-cinza);
}

.destaques {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
}

.destaque {
  transition: all 0.5s;
}

.destaque:hover {
  cursor: pointer;
  scale: 102%;
}

.destaque img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* Fim do destaque */

/* Destaque recomendado */
.box-recomendados {
  margin: 60px 100px;
}

.box-recomendados > h1 {
  color: var(--laranja);

  font-family: var(--font_nunito);

  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;

  margin: 0px 0px 18px 0px;
}

.recomendados {
  width: 100%;
}

.box-recomendado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 24px;
}

.recomendado {
  height: 300px;
  border: 1px solid var(--cinza);
  display: grid;
  justify-content: center;
  align-items: center;
}

.recomendado h1 {
  font-family: var(--font_nunito);
  font-weight: 700;
  font-size: 18px;
}

.recomendado-img {
  width: 244px;
  height: 244px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.recomendado-img:hover {
  scale: 120%;
}

.recomendado-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fim do destaque recomendado */

/* Inicio reponsividade */
/* Inicio responsividade notebook, tablet */

@media screen and (max-width: 1024px) {
  .destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .box-recomendado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 24px;
  }

  .recomendado {
    height: 300px;
    border: 1px solid var(--cinza);
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

/* Fim responsividade notebook, tablet */

/* Inicio responsividade celular */

@media screen and (max-width: 620px) {
  .box-destaques {
    margin-inline: 50px;
  }
}

/* Fim responsividade celular */
/* Fim responsividade */
