.search__area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c8c8c8;
  width: clamp(15rem, 25vw, 30rem);
  height: 38px;
  border-radius: 8px;
  padding: 10px 21px;
}

.search__bar > input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.sr__only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* search bar filter */
.cards {
  list-style-type: none;
  position: absolute;
  z-index: 999;
  top: 115%;
  left: -1%;
  background-color: white;
  width: 345px;
  border-radius: 5px;
}
.cards li {
  padding: 5px 20px;
  margin: 2px 0px;
  display: none;
}
a {
  text-decoration: none;
  color: #0d0800;
  font-family: var(--font_nunito);
}
