main {
  width: 100%;
}

.product {
  margin: 30px 100px;
  padding: 118px 37px;
  background-color: var(--laranja-claro);
  display: flex;
  gap: 164px;
  align-items: flex-start;
  border-radius: 6px;
}

.imgs {
  width: 500px;
}

.imgs > .product__image {
  width: 500px;
  height: 600px;

  display: flex;
  margin-bottom: 10px;
  border-radius: 6px;
}

.product__image {
  position: relative;
}

.product__image > img {
  width: inherit;
}

.product__image > span {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 46px;
  height: 46px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--cinza);
  cursor: pointer;
}

.product__images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product__images > img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.product__images > img.selected {
  outline: var(--laranja) solid 2px;
}

.description {
  margin-top: 140px;
  font-size: 18px;
}

.description > h1 {
  font-size: 40px;
}

.description > p:first-of-type {
  margin-block: 30px 20px;
}

#size {
  font-weight: bold;
}

.sizes > button {
  background-color: transparent;
  border: var(--laranja) solid 1px;
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.sizes > button:hover {
  background-color: var(--laranja);
}

.price {
  margin-block: 15px 25px;
  font-size: 30px;
  font-weight: bold;
}

/* seleção da cor da roupa */

.colors {
  display: flex;
  gap: 10px;
}

.colors label {
  display: none;
}
.colors input {
  cursor: pointer;
}
.colors > input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.colors > input[type="radio"]#rosa:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #c506cc;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.colors > input[type="radio"]#verdeClaro:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #97ad98;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.colors > input[type="radio"]#laranja:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--laranja);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.colors > input[type="radio"]#verde:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #113f0c;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* fim seleção da cor da roupa */

.buttons {
  margin-top: 60px;
  display: flex;
  gap: 15px;
}

.buttons > button {
  width: 160px;
  height: 50px;
  background-color: transparent;
  border: var(--laranja) solid 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.buttons button:hover {
  scale: 102%;
}

.buttons > .comprar {
  background-color: var(--laranja);
  border: var(--laranja) solid 1px;
  font-weight: bold;
  transition: background-color 1s ease, color 0.2s ease;
  transition: all 0.5s;
}

.buttons .add__carinho:hover {
  background: var(--branco);
  color: var(--laranja);
  font-weight: bold;
  border: none;
}
