:root {
  --branco: #ffffff;
  --black: #000000;
  --preto-cinza: #2c2c2c;
  --cinza: #c8c8c8;
  --preto-laranja: #0d0800;
  --laranja: #ff9900;
  --laranja-claro: #fff0da;
  --rosa: #f9c1a3;
  --rosaClaro: #fbe1db;
  --marrom: #8d6d51;
  --vermelho: #bb0300;
  --azul: #2d49af;
  --verde: #074006;
  --cinza: #867975;
  --verdeClaro: #9dad9b;
  --pink: #fa11c0;
}
